<section>
<div class="container-fluid" style="background-color: #343a40;">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" *ngIf="userInformation">
      <img src=".\assets\images\logo.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Chalopadhe
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" *ngIf="userInformation">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="userInformation">
          <a class="nav-link" routerLink="/classroom">Classroom <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="!userInformation">
          <button type="button" class="btn-1 btn-1-primary" (click)="openloginmodel()">Admin login</button>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <li class="nav-item" *ngIf="userInformation">
          <a class="item-horizontal">
            <span style="color: white; padding-right:10px;">John Doe</span><span><img class="round" [src]="userInformation.picture" alt="avatar" height="40" width="40"></span>
        </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
    </div>
  </nav>
  </div>
</section>
<section>
<router-outlet></router-outlet>
</section>
<div class="modal" [class.modal-open]="isLoginModalOpen">
  <div class="modal-content">
    <div class="row">
      <div class="col-8">
        <p class="modal-Heading verticalCenter"><b>Log in to Disha kiran</b></p>
      </div>
      <div class="col-4"><span class="close" (click)="closeLoginModal()">&times;</span></div>
    </div>
    <hr>
    <div class="div-row">
      <a class="fb login-btn" (click)="signInWithFB()">
        <i class="fab fa-facebook-square"></i> Continue with Facebook
      </a>
      <a class="google login-btn" (click)="signInWithGoogle()">
        <i class="fab fa-google"></i> Continue with Google
      </a>
    </div>
    <div class="div-row">
      <p class="verticalCenter">Sign in with ID or Email or Phone </p>
    </div>
    <div class="div-row">
      <input type="text" #userid class="login-input" name="username" placeholder="ID or email or phone" required>
      <input type="password" #password class="login-input" name="password" placeholder="Password" required>
      <input class="login-btn text-center" value="Login" (click)="login(userid.value,password.value)"
        style="background-color: #4CAF50;" readonly>
    </div>
    <!-- <p class="center-para link-Para">Forgot Password?</p>
    <hr style="margin-bottom:20px">
    <p class="center-para">Dot have account? <span class="signup-span link-Para" (click)="signup()">Sign up</span></p> -->
    <!-- <app-login (signUpClicked) = "signup()"></app-login> -->
  </div>
</div>