<section>
<div class="container-fluid" *ngIf="isLogedin" style="background-color: #343a40;">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src=".\assets\images\logo.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Chalopadhe
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/classroom">Classroom <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <button type="button" class="btn-1 btn-1-primary" (click)="openloginmodel()">Admin login</button>
        </li> -->
        <li class="nav-item" *ngIf="userInformation">
          <a class="item-horizontal">
            <span style="color: white; padding-right:10px;">John Doe</span><span><img class="round" [src]="userInformation.picture" alt="avatar" height="40" width="40"></span>
        </a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
</section>
<router-outlet></router-outlet>
<div class="modal" [class.modal-open]="isLoginModalOpen">
  <div class="modal-content">
    <div class="row flexbox-container center-div">
      <div class="col-xl-12 col-12 d-flex justify-content-center">
        <div class="card bg-authentication rounded-0 mb-0 w-100">
          <div class="row m-0">
            <div class="col-lg-6 d-lg-block d-none text-center align-self-center px-1 py-0">
              <img src=".\assets\images\lock-screen.png" alt="branding logo">
            </div>
            <div class="col-lg-6 col-12 p-0">
              <div class="card rounded-0 mb-0 px-2 pb-2">
                <div class="card-header pb-1">
                  <div class="row card-title">
                    <h4 class="col-8 mb-0">Admin Login</h4>
                    <div class="col-4"><span class="close" (click)="closeLoginModal()">&times;</span></div>
                  </div>
                </div>
                <div class="card-content">
                  <div class="card-body pt-1">
                    <form>
                      <fieldset class="form-label-group position-relative has-icon-left">
                        <input type="text" class="form-control" #username placeholder="Username" required>
                        <div class="form-control-position">
                          <i class="feather icon-user"></i>
                        </div>
                        <label for="user-name"></label>
                      </fieldset>
    
                      <fieldset class="form-label-group position-relative has-icon-left">
                        <input type="password" class="form-control" #pwd placeholder="Password" required>
                        <div class="form-control-position">
                          <i class="feather icon-lock"></i>
                        </div>
                        <label for="user-password"></label>
                      </fieldset>
                      <!-- <a href="auth-login.html">Are you not John Doe ?</a> -->
                    </form>
                    <button (click)="login(username.value,pwd.value)" class="btn btn-primary float-right">Login</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="div-row">
      <a class="fb login-btn" (click)="signInWithFB()">
        <i class="fab fa-facebook-square"></i> Continue with Facebook
      </a>
      <a class="google login-btn" (click)="signInWithGoogle()">
        <i class="fab fa-google"></i> Continue with Google
      </a>
    </div>
    <div class="div-row">
      <p class="verticalCenter">Sign in with ID or Email or Phone </p>
    </div>
    <div class="div-row">
      <input type="text" #userid class="login-input" name="username" placeholder="ID or email or phone" required>
      <input type="password" #password class="login-input" name="password" placeholder="Password" required>
      <input class="login-btn text-center" value="Login" (click)="login(userid.value,password.value)"
        style="background-color: #4CAF50;" readonly>
    </div> -->
    <!-- <p class="center-para link-Para">Forgot Password?</p>
    <hr style="margin-bottom:20px">
    <p class="center-para">Dot have account? <span class="signup-span link-Para" (click)="signup()">Sign up</span></p> -->
    <!-- <app-login (signUpClicked) = "signup()"></app-login> -->
  </div>
</div>