<div class="row">
    <div class="col-xl-2 col-md-4 col-sm-6" *ngFor="let subject of subjectData" (click)="openSubject(subject)">
        <div class="card text-center">
            <div class="card-content">
                <div class="card-body">
                    <div class="avatar bg-rgba-info p-50 m-0 mb-1">
                        <div class="avatar-content">
                            <i class="feather icon-eye text-info font-medium-5"></i>
                        </div>
                    </div>
                    <h2 class="text-bold-700">{{subject}}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-xl-2 col-md-4 col-sm-6">
        <div class="card text-center">
            <div class="card-content">
                <div class="card-body">
                    <div class="avatar bg-rgba-warning p-50 m-0 mb-1">
                        <div class="avatar-content">
                            <i class="feather icon-message-square text-warning font-medium-5"></i>
                        </div>
                    </div>
                    <h2 class="text-bold-700">12k</h2>
                    <p class="mb-0 line-ellipsis">Comments</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4 col-sm-6">
        <div class="card text-center">
            <div class="card-content">
                <div class="card-body">
                    <div class="avatar bg-rgba-danger p-50 m-0 mb-1">
                        <div class="avatar-content">
                            <i class="feather icon-shopping-bag text-danger font-medium-5"></i>
                        </div>
                    </div>
                    <h2 class="text-bold-700">97.8k</h2>
                    <p class="mb-0 line-ellipsis">Orders</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4 col-sm-6">
        <div class="card text-center">
            <div class="card-content">
                <div class="card-body">
                    <div class="avatar bg-rgba-primary p-50 m-0 mb-1">
                        <div class="avatar-content">
                            <i class="feather icon-heart text-primary font-medium-5"></i>
                        </div>
                    </div>
                    <h2 class="text-bold-700">26.8</h2>
                    <p class="mb-0 line-ellipsis">Bookmarks</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4 col-sm-6">
        <div class="card text-center">
            <div class="card-content">
                <div class="card-body">
                    <div class="avatar bg-rgba-success p-50 m-0 mb-1">
                        <div class="avatar-content">
                            <i class="feather icon-award text-success font-medium-5"></i>
                        </div>
                    </div>
                    <h2 class="text-bold-700">689</h2>
                    <p class="mb-0 line-ellipsis">Reviews</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-xl-2 col-md-4 col-sm-6" (click)="openAddModal()">
        <div class="card text-center">
            <div class="card-content">
                <div class="card-body">
                  
                    <h2 class="text-bold-700">+</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content" class="modal" [class.modal-open]="openModal">
    <div class="modal-content" [ngStyle]="{'width': modalWidth+'px'}">
        <div class="Modal-header">
            <h3 style="position:relative;float:left;">{{modelTitle}}</h3>
            <span class="close" (click)="closeDetails()">X</span>
        </div>
        <hr>
        <div>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Title</label>
                    <input type="text" class="form-control" #name placeholder="title">
                </div>
                <!-- <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div> -->
                <!-- <button (click)="AddSubject()" class="btn btn-primary">Submit</button> -->
            </form>
            <button (click)="addSubject(name.value)" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>