<div class="row" style="margin-bottom: 20px;">
<div class="col-xl-6">
    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/F9b85UPb2Oo" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLsyvDWwjkTqtOmqAiTzzfHspTAztB-udL"
        frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe> -->
<!-- <video width="100%" height="100%" controls>
    <source src="https://www.youtube.com/embed/GrVT_ynauHw" type="video/mp4" poster=".\assets\images\logo.svg">
    Your browser does not support the video tag.
</video> -->
</div>
<div class="col-xl-6">
<div class="card">
    <div class="card-content">
        <div class="card-body">
            <h4 class="card-title">Video Lectures</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="badge badge-pill bg-primary float-right">4</span>
               Video 1
            </li>
            <li class="list-group-item">
                <span class="badge badge-pill bg-info float-right">2</span>
                Video 2
            </li>
         
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-light" (click)="addVideo()">+ Add Video</button>
        </div>
    </div>
</div>
</div>
</div>
<div class="card">
    <div class="card-content">
        <div class="card-body">
            <h4 class="card-title">Books</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="badge badge-pill bg-primary float-right">4</span>
                Book 1
            </li>
            <li class="list-group-item">
                <span class="badge badge-pill bg-info float-right">2</span>
                Book 2
            </li>
            <li class="list-group-item">
                <span class="badge badge-pill bg-warning float-right">1</span>
                Book 3
            </li>
           
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-light" (click)="addBook()">+ Add Book</button>
        </div>
    </div>
</div>
<div id="content" class="modal" [class.modal-open]="openModal">
    <div class="modal-content" [ngStyle]="{'width': modalWidth+'px'}">
        <div class="Modal-header">
            <h3 style="position:relative;float:left;">{{modelTitle}}</h3>
            <span class="close" (click)="closeDetails()">X</span>
        </div>
        <hr>
        <div>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Choose file</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Paste Link</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="title">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Title</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="title">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>