<table class="table table-hover-animation mb-0">
    <thead>
        <tr>
            <th>CHAPTER</th>
            <th>TITLE</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let chapter of chapterData;let i = index" (click)="openChapter(chapter)">
            <td>#{{chapter.chapterNo}}</td>
            <td><i class="fa fa-circle font-small-3 text-success mr-50"></i>{{chapter.chapterName}}</td>
        </tr>
    </tbody>
</table>
<div class="card-content text-center" style="background-color: white;" (click)="openAddModal()">
    <div class="card-body">
        <h2 class="text-bold-700">+</h2>
    </div>
</div>

<div id="content" class="modal" [class.modal-open]="openModal">
    <div class="modal-content" [ngStyle]="{'width': modalWidth+'px'}">
        <div class="Modal-header">
            <h3 style="position:relative;float:left;">{{modelTitle}}</h3>
            <span class="close" (click)="closeDetails()">X</span>
        </div>
        <hr>
        <div>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Chapter No.</label>
                <input type="text" class="form-control" #chapterNumber placeholder="only number">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Title</label>
                <input type="text" class="form-control" #name placeholder="title">
            </div>
            <!-- <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div> -->
        </form>
        <button (click)="addChapter(name.value,chapterNumber.value)" class="btn btn-primary">Submit</button>
    </div>
</div>