.btn-1 {
    padding: 10px 24px;
    border: 0 none;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    right: 10px;
    margin-top: 10px;
    position: fixed;
}
 
.btn-1:focus, .btn-1:active:focus, .btn-1.active:focus {
    outline: 0 none;
}
 
.btn-1-primary {
    background: #262c49;
    color: #ffffff;
}
 
.btn-1-primary:hover, .btn-1-primary:focus, .btn-1-primary:active, .btn-1-primary.active, .open > .dropdown-toggle.btn-1-primary {
    background: #343a40;
}
 
.btn-1-primary:active, .btn-1-primary.active {
    background: #343a40;
    box-shadow: none;
}


.divider {
  display : block;
  text-align : center;
  overflow : hidden;
  white-space : nowrap;
  margin : 1rem 0;
}
.divider .divider-text {
  position : relative;
  display : inline-block;
  font-size : 0.9375rem;
  padding : 0 1rem;
  background-color : #FFFFFF;
}
.divider .divider-text i {
  font-size : 1rem;
}
.divider .divider-text:before, .divider .divider-text:after {
  content : '';
  position : absolute;
  top : 50%;
  width : 9999px;
  border-top : 1px solid rgba(0, 0, 0, 0.1);
}
.divider .divider-text:before {
  right : 100%;
}
.divider .divider-text:after {
  left : 100%;
}
.divider.divider-left .divider-text {
  float : left;
  padding-left : 0;
}
.divider.divider-left .divider-text:before {
  display : none;
}
.divider.divider-left-center .divider-text {
  left : -25%;
}
.divider.divider-right .divider-text {
  float : right;
  padding-right : 0;
}
.divider.divider-right .divider-text:after {
  display : none;
}
.divider.divider-right-center .divider-text {
  right : -25%;
}

 .card {
     /* border: 1px solid black; */
     padding: 3%;
 }
#content-section
{
background:url('src/assets/images/page-bg.jpg') no-repeat center center;
background-size: cover;
}
.vh-100
{
  height: 100vh;
}