
            <section id="content-section">
                <div class="row d-flex vh-100 align-items-center justify-content-center">
                    <div class="col-xl-5 col-md-8 col-sm-10 col-12 px-md-0 px-2">
                        <div class="card text-center">
                            <div>
                                    <h2>We are launching soon</h2>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <img src=".\assets\images\logo.svg"
                                        class="img-responsive block mx-auto" width="150" alt="bg-img">
                                    <div style="margin-top:10px ;">
                                        <h3>Chalo Padhe</h3>
                                    </div>
                                    <div class="divider">
                                        <div class="divider-text">Subscribe</div>
                                    </div>
                                    <p class="text-left">
                                        If you would like to be <b>notified</b> when our website is live, Please subscribe to our mailing list.
                                    </p>
                                    <form class="form-horizontal">
                                        <fieldset class="form-label-group">
                                            <input type="text" class="form-control" id="user-email" placeholder="Email">
                                            <label for="user-email"></label>
                                        </fieldset>
                                    </form>
                                    <button class="btn btn-primary w-100">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
       